* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.center-menu {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}
header {
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid #1e6296;
}
.logo {
  color: #1e6296;
}
.logo h1 {
  font-weight: normal;
  font-size: 30px;
}
.menu {
  width: 80%;
  text-align: right;
}
.menu a {
  color: #1e6296;
  font-size: 21px;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s;
}
.menu a:hover {
  color: #378ed1;
}
.menu .btn-vamos {
  background-color: #091b29;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  color: white;
  font-size: 21px;
}
.menu .btn-vamos:hover {
  background-color: #6bb0e4;
  color: white;
}
.logo-img {
  width: 35px;
  height: 35px;
}
footer {
  background-color: #06090c;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration:  none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2rem;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover {
background-color: #111;
transition: 0.7s;
}
.socialIcons a:hover i{
color: white;
transition: 0.7s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
      list-style: none;

}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a {
  opacity: 1;
}
.footerbtn {
  background-color: #070c0f;
  padding: 20px;
  text-align: center;
  min-width: 100%;
}
.footerbtn p {
  color: white;
  font-size: 1.5rem;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 8px 5px;
}
.container-sobre {
  background-image: url("../imagens/fundo-roxo.avif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.container-sobre p{
  font-size: 1.5rem;
  color: white;
  max-width: 100%;
  padding: 30px;

}
.container-sobre h1 {
  padding-top: 100px;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.container-sobre h3 {
  margin-top: 50px;
  padding-top: 20px;
  font-size: 3rem;
  color: white;
  text-align: center;
}
.container-sobre h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 2rem;
  color: white;
  text-align: center;
}
.logo-lado {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-top: 100px;
}
.texto-lado {
  display: flex;
}
.texto {
  display: grid;
  font-size: 1.5rem;
  color: white;
  margin-top: 150px;
  max-width: 800px;
  margin-left: 100px;
}
.texto2 {
  display: grid;
  font-size: 1.5rem;
  color: white;
  margin-top: 50px;
  max-width: 800px;
  margin-left: 100px;
}
.texto2 p {
  margin-top: 20px;
}
.rest-texto {
  font-size: 1.5rem;
  color: white;
}
.rest-texto p {
  padding: 20px;
}
.panorama {
  width: 700px;
  height: 300px;
  margin-left: 20px;
}
iframe {
  margin-top: 50px;
  margin-left: 320px;
  padding-bottom: 50px;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }.texto-lado {
  display: grid;
}.logo-lado {
  margin-left: 120px;
  margin-bottom: -100px;
}.texto {
  text-align: left;
  margin-right: 100px;
  font-size: 1.3rem;
}.texto2 {
  text-align: left;
  margin-right: 100px;
  font-size: 1.3rem;
}.panorama {
  width: 500px;
    margin-left: 80px;
  margin-bottom: -50px;

}iframe {
  width: 500px;
  height: 400px;
  margin-left: 80px
}.menu a {
    font-size: 14px;
  }
  .menu .btn-vamos {
    font-size: 10px;
    width: 80px;
    height: 30px;
  }

}